#footer{
    position: relative;

    min-height: 60vh;

    /* background-color: #003070; */

    background: rgb(0,48,112);
    background: linear-gradient(90deg, rgba(0,48,112,1) 0%, rgba(42,70,128,1) 100%);
}
.growLimitFooter{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100%;
    width: 100%;
    max-width: 1128px;
}
.copyrightDIV{
    display: flex;
    gap: 10px;
}
.iconCopyright, .titleCopyright{
    font-size: clamp( 18px,3vw,23px );
    font-family: 'Readex Pro', sans-serif;
    color: #e1e3e5;
}