/* defaults */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    height: -webkit-fill-available;
}
body{
    position: relative;
    height: -webkit-fill-available;

    background-color: #f0f8ff;
}
:root{
    --colorNav: #0f0f0f;
    --backgroungNav: #f2f2f280;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link{
    display: inline-block;

    text-decoration: none;
    color: #0f0f0f;
    text-align: center;
}
.background{
    position: absolute;
    z-index: 2000;
    display: inline-block;

    width: 100%;
    height: 100%;
    max-height: 100%;
}
/* end defaults */

/* header */
#header{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 600px;
    height: 45vh;
    width: 100vw;
    max-width: 100%;
    
    background-image: url( "Images/img3.jpg" );
    background-size: cover;
    background-position-x: center;
    background-color: #00ffff;
}
.growLimit{
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    min-height: 100%;
    width: 100%;
    max-width: 1128px;
}
.growLimitHeader{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.growLimitNavbar{
    position: absolute;
    justify-content: space-between;

    min-height: 80px;
    padding: 0 20px;
}
#headerBackground{
    background-color: #003070a6;
}
.title{
    position: relative;
    z-index: 2890;

    display: inline-block;

    /* max-width: 500px;*/
    padding: 0 0 0 20px ; 

    color: #f5f5f5;
    font-size: clamp( 50px,10vw + 10px,100px );
}
.smiles{
    text-align: left;
}

/* NAVBAR */
.navbar{
    position: fixed;
    z-index: 3000;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100px;
    width: 100vw;
    max-width: 100%;
    margin: auto;

    background-color: rgba(242, 242, 242, 0.65);
    /* backdrop-filter: blur(5px); */
}
#logoDIV{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--colorNav);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}
.logo{
    height: 68px;
}

.nav-ul{
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 3050;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: calc( 100vh - 100px );        
    width: clamp( 180px,60%,530px );

    transition: transform 600ms ease-out;
    transform-origin: right;
    transform: scaleX( 0 );
    background-color: rgba(242, 242, 242, 0.65);
}
.nav-active{
    transform: scaleX( 100% );
    /* backdrop-filter: blur(5px); */
}

.nav-ul-li{
    position: relative;
    z-index: 2000;

    list-style: none;
    opacity: 0;
}
.nav-ul-li-a:hover{
    opacity: .5;
}
.nav-ul-li-a{
    position: relative;
    z-index: 3200;

    color: var(--colorNav);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;

    transition: color .4s, opacity .4s;
}

.burger{
    display: block;
    cursor: pointer;
    z-index: 3200;
}
.line{
    width: 25px;
    height: 3px;
    margin: 5px;

    background: var(--colorNav);
    transition: transform 500ms ease,opacity 500ms ease;
}
.burger-active .line1{
    transform: rotate(-45deg) translate( -5px,6px );
}
.burger-active .line2{
    opacity: 0;   
}
.burger-active .line3{
    transform: rotate(45deg) translate( -5px,-6px );
}
.exitModal{
    display: none;
}
.exitModal-active{
    display: block;
    position: absolute;
    z-index: 2900;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 700px) {
    .navbar{
        position: fixed;
        backdrop-filter: blur(5px);
        box-shadow: 0px 6px 8px -3px rgb(147 147 147 / 60%);

        background-color: rgba(242, 242, 242, 0.65);
    }
    .nav-ul{
        position: relative;
        inset: 0;

        flex-direction: row;

        min-height: 0;
        width: 68%;
        
        transform: scaleX(1);
        background-color: rgba(245, 222, 179, 0);

    }
    .nav-ul-li{
        opacity: 1;
    }

    .burger{
        display: none;
    }
}
@keyframes linksFadeIn{
    0%{
        opacity: 0;
        transform: translate( 80px,-15px ) rotate( -5deg );
    }
    100%{
        opacity: 1;
        transform: translate( 0 ) rotate( 0 );
    }
}
/* END NAVBAR */

/* estilos generales sections */
.sectionTitle{
    display: inline-block;

    /* width: 100%; */
    padding: 0 0 0 20px;
    
    font-size: clamp( 50px,10vw + 10px,100px );
}
/* FIN estilos generales sections */