.textAlignCenter{
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 200;
    font-size: clamp( 20px,2.5vw,25px  );
    letter-spacing: .85px;
}

.infoSection{
    width: 90%;
    gap: 40px;

    /* background-color: aqua; */
}
.infoSectionTitle{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
}
#titleInfo{
    display: inline-block;

    width: auto;
    
    font-size: clamp( 55px,10vw,100px );
    color: #003070;
}
.mapsDIV{
    width: 90%;
    min-height: 350px;
    /* background-color: blue;

    background-image: url( "Images/maps.png" );
    background-size: cover;
    background-position-x: center; */
}
#infoDIV{
    position: relative;

    /* min-height: 75vh; */
    padding: 80px 0;
    width: 100vw;
    max-width: 100%;

    background-color: #cae7ef
}
.growLimitInfo{
    position: relative;
    z-index: 2500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    min-height: 60vh;
    width: 100%;
    max-width: 1000px;

    /* background-color: red; */
}
.informationDIV{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;
}
.infoSPAN{
    position: relative;
    gap: 5px;

    /* width: 45%; */
    min-height: 50px;

    /* background-color: blueviolet; */
}
.separator{
    /* position: absolute;
    inset: 0 0 0 0;
    margin: auto; */
    display: inline-block;

    width: 1px;
    min-height: 70px;

    background-color: rgb(12, 12, 12);
}
.test{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    /* background-color: greenyellow; */
}
.infoSubtitle{
    position: relative;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.icon{
    display: inline-block;

    position: relative;
}

@media screen and (max-width:780px) {
    .informationDIV{
        flex-direction: column;
        gap: 20px;
    }
    p.infoSubtitle{
        min-width: 279.25px;
    }
    .separator{
        position: relative;
        
        width: 40%;
        min-height: 1px;
        height: 1px;
    }
}